<%- include('templates/header') %>

    <body>
        <div class="d-flex align-items-center justify-content-center vh-100 bg-primary">
            <h1 class="display-1 fw-bold text-white">404: Page does not exist</h1>
        </div>
    </body>

    <%- include('templates/footer') %>