<body style="margin-left: 20px;">
    <%- include('templates/header', {x}) %>
        <h1>About Page</h1>
        <p> This is the about page</p>
        <p> Hello, <%= x %>
        </p>
        <%- include('templates/footer') %>
</body>