<%- include('templates/header') %>
    <div class="container">
        <h1>Sign Up as a new user</h1>
        <form action="/signup" method="post">
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <input type="submit" value="Signup" />
        </form>
    </div>
    <%- include('templates/footer') %>