<%- include('templates/header') %>

    <body>
        <div class="d-flex align-items-center justify-content-center bg-danger flex-column">
            <h1 class="display-1 fw-bold text-white">Wrong password</h1>
            <div class="container d-flex align-items-center justify-content-center bg-danger flex-column">
                <a href="/" class="link text-white display-5">Back to Login</a>
            </div>
        </div>
    </body>

    <%- include('templates/footer') %>